---
import { Image } from "astro:assets";

const { teamMember } = Astro.props;
---

<div class="team__member gap-4">
  <Image src={teamMember.img.src} alt={teamMember.img.alt} class="img" />

  <h3>{teamMember.name}</h3>
  <h4>{teamMember.charge}</h4>
  <i>{teamMember.bio}</i>
  <div class="socials gap-4">
    {
      teamMember.socials.map((social) => (
        <Image src={social.src} alt={social.alt} width={31.2} height={31.2} />
      ))
    }
  </div>
</div>

<style>
  .team__member {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .team__member > h4 {
    font-weight: normal;
    color: var(--color-accent);
  }

  .socials {
    display: flex;
    justify-content: center;
  }

  .img {
    width: 40%;
    height: auto;
  }
</style>
