---
import { Picture, getImage } from "astro:assets";

import succubusPapers from "@/assets/papeleria.jpg";
import Stickers from "@/assets/pegatinas-logo-blanco-y-negro.png";

import Default from "@/layouts/Default.astro";
import Container from "@/components/Container.astro";

const optimizedSuccubusPapers = await getImage({
  src: succubusPapers,
  format: "webp",
});

const teamMembers = [
  {
    name: "Niguel Cruz Serafín",
    charge: "CO-Fundador/CEO",
    bio: "Fotógrafo , friki y amante del arte… Un poco loco también, lo admito… ",
    socials: [
      {
        icon: "",
        href: "",
      },
    ],
  },
  {
    name: "Esther López Alcaráz",
    charge: "CO-Fundadora/CDO",
    bio: "Graduada de Historia del Arte, diseñadora amateur  y  community manager.",
    socials: [
      {
        icon: "",
        href: "",
      },
    ],
  },
  {
    name: "José Carlos García",
    charge: "CO-Fundador/CTO",
    bio: "Ingeniero de software especializado en el desarrollo web.",
    socials: [
      {
        icon: "",
        href: "",
      },
    ],
  },
];
---

<Default title="Sobre nosotros">
  <header>
    <div
      class="overlay"
      style={`background-image: url(${optimizedSuccubusPapers.src})`}
    >
    </div>
    <h1 class="page-title">
      Sobre
      <span class="page-title__second-word">
        <span class="page-title__second-word-first-letter"> n </span>
        osotros
      </span>
    </h1>
  </header>

  <Container>
    <section class="mission">
      <div class="mission__picture">
        <Picture
          src={Stickers}
          widths={[1280, Stickers.width]}
          formats={["avif", "webp"]}
          class="mission__img"
          alt="Pegatinas del logo de Succubus representando en fondo oscuro y claro."
        />
      </div>
      <div class="mission__content">
        <h2>Nuestra Misión</h2>
        <p class="mt-1">
          Nuestra Misión Somos un proyecto especializado en la divulgación de
          información sobre el BDSM, haciendo énfasis en la comunidad vernácula.
          Nuestro mayor reto consiste en sacar a la luz información veraz y
          confiable dentro de este tema tan lleno de tabúes y falsa información.
        </p>
      </div>
    </section>
    <section class="team mx-auto mb-7">
      <h2>Nuestro Equipo</h2>
      <div class="team__members gap-20 mt-4">
        {
          teamMembers.map((teamMember) => (
            <div class="team__member gap-4">
              <h3>{teamMember.name}</h3>
              <h4>{teamMember.charge}</h4>
              <i>{teamMember.bio}</i>
            </div>
          ))
        }
      </div>
    </section>
  </Container>
</Default>

<style lang="scss">
  @use "../styles/scssVariables";

  header {
    background-position: center;
    background-size: cover;
    padding: 230px 0;
    position: relative;
    text-align: center;
  }

  .page-title {
    text-transform: uppercase;
    position: relative;
    font-size: 6rem;
    line-height: 1;
    display: flex;
    gap: 0.3em;
    width: 100%;
    justify-content: center;
  }

  .page-title__second-word {
    display: flex;
  }

  .page-title__second-word-first-letter {
    color: var(--color-accent);
  }

  .overlay {
    filter: brightness(80%) contrast(110%) saturate(80%) blur(2px)
      hue-rotate(0deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
  }

  h2 {
    font-family: var(--font-serif);
    font-size: 4rem;
    font-weight: normal;
    line-height: 1em;
    text-transform: uppercase;
  }

  .mission {
    margin-bottom: 6em;
  }

  @media (min-width: scssVariables.$small) {
    .mission {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 0em;
    }
  }

  .mission__picture {
    flex-basis: 60%;
  }

  .mission__img {
    width: 100%;
    height: auto;
  }

  .mission__content {
    flex-basis: 40%;
  }

  .team {
    text-align: unset;
    max-width: 1200px;
  }

  @media (min-width: scssVariables.$small) {
    .team {
      text-align: center;
    }
  }

  .team__members {
  }

  @media (min-width: scssVariables.$small) {
    .team__members {
      display: flex;
    }
  }

  .team__member {
    display: flex;
    flex-direction: column;
  }

  .team__member > h4 {
    font-weight: normal;
    color: var(--color-accent);
  }
</style>
