---
import Container from "./Container.astro";
import BrandTitle from "./BrandTitle.astro";

const links = [
  { text: "Inicio", href: "https://www.succubus-bdsm.com" },
  { text: "Blog", href: "https://blog.succubus-bdsm.com/" },
  { text: "Encuesta", href: "https://test.succubus-bdsm.com/" },
];

const otherLinks = [
  {
    text: "Sobre Nosotros",
    href: "/sobre-nosotros/",
  },
  {
    text: "Términos de servicio",
    href: "/terminos-de-servicio",
  },
  {
    text: "Contáctanos",
    href: "/contactanos",
  },
];

const socialIcons = [
  {
    href: "https://www.instagram.com/succubuscuba/",
    src: "/images/insta-logo.svg",
    alt: "Instagram logo",
    class: "",
  },
  {
    href: "https://twitter.com/succubuscuba",
    src: "/images/x-logo.svg",
    alt: "X logo",
    class: "footer__social-icon-x",
  },
  {
    href: "https://www.facebook.com/succubuscuba",
    src: "/images/facebook-logo.svg",
    alt: "Facebook logo",
    class: "",
  },
  {
    href: "https://t.me/+MlNpXTZ_rm4xYzJh",
    src: "/images/telegram-logo.svg",
    alt: "Telegram logo",
    class: "footer__social-icon-telegram",
  },
];
---

<footer class="pt-6 pb-2">
  <Container>
    <div class="footer__header">
      <img
        src="/images/logo.svg"
        class="footer__header-image"
        alt="Logo of Succubus"
        width="120px"
        height="120px"
      />
      <BrandTitle tag="h2" class="footer__header-title" />
    </div>

    <div class="footer__links my-7">
      <div>
        <h3 class="mb-2">Enlace</h3>
        <ul>
          {
            links.map((link) => (
              <li>
                <a target="_blank" href={link.href}>
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <h3 class="mb-2">Otros Enlaces</h3>
        <ul>
          {
            otherLinks.map((link) => (
              <li>
                <a href={link.href}>{link.text}</a>
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <h3 class="mb-2">Únete</h3>
        <div class="footer__social">
          {
            socialIcons.map((icon) => (
              <a
                target="_blank"
                class="footer__social-icons"
                class:list={icon.class}
                href={icon.href}
              >
                <img
                  alt={icon.alt}
                  src={icon.src}
                  loading="lazy"
                  decoding="async"
                />
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <p>Copyright Succubus &copy; {new Date().getFullYear()}</p>
    </div>
  </Container>
</footer>

<style>
  footer {
    background-color: var(--color-neutral-1);
  }

  .footer__header {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .footer__header-image {
    width: 70px;
    height: 70px;
  }

  .footer__header-title {
    font-weight: normal;
    font-size: 3.5rem;
  }

  @media (min-width: 700px) {
    .footer__header-title {
      font-size: 5.5rem;
    }
  }

  @media (min-width: 700px) {
    .footer__header-image {
      width: 120px;
      height: 120px;
    }
  }

  .footer__links {
    display: flex;
    flex-wrap: wrap;
    gap: 8em;
  }

  .footer__links a {
    color: inherit;
  }

  .footer__links h3 {
    font-size: 2rem;
  }

  .footer__links ul {
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.15em;
  }

  .footer__social {
    display: flex;
    gap: 1em;
  }

  .footer__social-icons {
    width: 45px;
    height: 45px;
    position: relative;
  }

  .footer__social-icon-x {
    width: 41px;
    height: 41px;
    top: 1px;
  }

  .footer__social-icon-telegram {
    width: 52px;
    height: 52px;
    top: -3px;
  }

  .footer__social-icon-telegram > img {
    width: 100%;
    height: auto;
  }

  .footer__copyright {
    text-align: center;
  }
</style>
